body {
  font-family: 'Segoe UI', sans-serif;
  background: #fafafa;
  text-align: center;
  color: #333;
  margin: 0;
}

.navbar {
  background-color: #ff4081;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  background: white;
  color: #ff4081;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.feed {
  margin-top: 20px;
}

.post {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 15px auto;
  width: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.commentInput {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.commentList {
  margin-top: 10px;
  text-align: left;
  padding-left: 20px;
}

.login-box {
  margin-top: 100px;
}

.profile-page img {
  border-radius: 50%;
}

.profile-pic input {
  margin-top: 10px;
}
